@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* General Demo Style */
@font-face {
  font-family: 'codropsicons';
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.main,
.container > header {
  width: 90%;
  margin: 0 auto;
  padding: 2em;
}

.main {
  max-width: 82.667em;
  min-height: 15em;
}

.container > header {
  text-align: center;
  font-size: 16px;
  padding: 4em 2em 3em;
  background: rgba(0, 0, 0, 0.01);
}

.container > header h1 {
  font-size: 2.625em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}

.container > header span {
  display: block;
  font-size: 60%;
  color: #ceccc6;
  padding: 0 0 0.6em 0.1em;
}

/* Header Style */
.codrops-top {
  background: #fff;
  background: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  position: relative;
  width: 100%;
  font-size: 0.7em;
  line-height: 2.2;
}

.codrops-top a {
  padding: 0 1em;
  letter-spacing: 0.1em;
  color: #888;
  display: inline-block;
}

.codrops-top a:hover {
  background: rgba(255, 255, 255, 0.9);
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  float: left;
  display: block;
}

.codrops-icon:before {
  font-family: 'codropsicons';
  margin: 0 4px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

.codrops-icon-archive:before {
  content: "\e002";
}

.codrops-icon-next:before {
  content: "\e000";
}

.codrops-icon-about:before {
  content: "\e003";
}

@media screen and (max-width: 25em) {
  .codrops-icon span {
    display: none;
  }

  .container > header {
    font-size: 75%;
  }
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Windows Chrome ugly fix http://stackoverflow.com/questions/13674808/chrome-svg-font-rendering-breaks-layout/14345363#14345363 */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon.svg#icomoon") format("svg");
}
}
.icon-team, .icon-blog, .icon-home, .icon-portfolio, .icon-services, .icon-contact, .icon-menu {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-team:before {
  content: "\e000";
}

.icon-blog:before {
  content: "\e001";
}

.icon-home:before {
  content: "\e002";
}

.icon-portfolio:before {
  content: "\e003";
}

.icon-services:before {
  content: "\e004";
}

.icon-contact:before {
  content: "\e005";
}

.icon-menu:before {
  content: "\f0c9";
}

a, li {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Global CSS that are applied for all screen sizes */
.nav ul {
  max-width: 1240px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.25em;
  font-weight: 300;
}

.nav li span {
  display: block;
}

.nav a {
  display: block;
  color: rgba(249, 249, 249, 0.9);
  text-decoration: none;
  -webkit-transition: color 0.5s, background 0.5s, height 0.5s;
  -moz-transition: color 0.5s, background 0.5s, height 0.5s;
  -o-transition: color 0.5s, background 0.5s, height 0.5s;
  -ms-transition: color 0.5s, background 0.5s, height 0.5s;
  transition: color 0.5s, background 0.5s, height 0.5s;
}

.nav i {
  /* Make the font smoother for Chrome */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Remove the blue Webkit background when element is tapped */
a, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Hover effect for the whole navigation to make the hovered item stand out */
.no-touch .nav ul:hover a {
  color: rgba(249, 249, 249, 0.5);
}

.no-touch .nav ul:hover a:hover {
  color: rgba(249, 249, 249, 0.99);
}

/* Adding some background color to the different menu items */
.nav li:nth-child(6n+1) {
  background: #9a0000;
}

.nav li:nth-child(6n+2) {
  background: gray;
}

.nav li:nth-child(6n+3) {
  background: #212121;
}

.nav li:nth-child(6n+4) {
  background: #8a2b06;
}

.nav li:nth-child(6n+5) {
  background: #666666;
}

.nav li:nth-child(6n+6) {
  background: #212121;
}

/* For screen bigger than 800px */
@media (min-width: 50em) {
  /* Transforms the list into a horizontal navigation */
  .nav li {
    float: left;
    width: 16.66666666666667%;
    text-align: center;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    -ms-transition: border 0.5s;
    transition: border 0.5s;
  }

  .nav a {
    display: block;
    width: auto;
  }

  /* hover, focused and active effects that add a little colored border to the different items */
  .no-touch .nav li:nth-child(6n+1) a:hover,
  .no-touch .nav li:nth-child(6n+1) a:active,
  .no-touch .nav li:nth-child(6n+1) a:focus {
    border-bottom: 4px solid #bb3a08;
  }

  .no-touch .nav li:nth-child(6n+2) a:hover,
  .no-touch .nav li:nth-child(6n+2) a:active,
  .no-touch .nav li:nth-child(6n+2) a:focus {
    border-bottom: 4px solid #bb3a08;
  }

  .no-touch .nav li:nth-child(6n+3) a:hover,
  .no-touch .nav li:nth-child(6n+3) a:active,
  .no-touch .nav li:nth-child(6n+3) a:focus {
    border-bottom: 4px solid #bb3a08;
  }

  .no-touch .nav li:nth-child(6n+4) a:hover,
  .no-touch .nav li:nth-child(6n+4) a:active,
  .no-touch .nav li:nth-child(6n+4) a:focus {
    border-bottom: 4px solid #bb3a08;
  }

  .no-touch .nav li:nth-child(6n+5) a:hover,
  .no-touch .nav li:nth-child(6n+5) a:active,
  .no-touch .nav li:nth-child(6n+5) a:focus {
    border-bottom: 4px solid #bb3a08;
  }

  .no-touch .nav li:nth-child(6n+6) a:hover,
  .no-touch .nav li:nth-child(6n+6) a:active,
  .no-touch .nav li:nth-child(6n+6) a:focus {
    border-bottom: 4px solid #bb3a08;
  }

  /* Placing the icon */
  .icon {
    padding-top: 1.4em;
  }

  .icon + span {
    margin-top: 2.1em;
    -webkit-transition: margin 0.5s;
    -moz-transition: margin 0.5s;
    -o-transition: margin 0.5s;
    -ms-transition: margin 0.5s;
    transition: margin 0.5s;
  }

  /* Animating the height of the element*/
  .nav a {
    height: 9em;
  }

  .no-touch .nav a:hover,
  .nav a:active,
  .nav a:focus {
    height: 10em;
  }

  /* Making the text follow the height animation */
  .no-touch .nav a:hover .icon + span {
    margin-top: 3.2em;
    -webkit-transition: margin 0.5s;
    -moz-transition: margin 0.5s;
    -o-transition: margin 0.5s;
    -ms-transition: margin 0.5s;
    transition: margin 0.5s;
  }

  /* Positioning the icons and preparing for the animation*/
  .nav i {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0.4em;
    border-radius: 50%;
    font-size: 1.8em;
    box-shadow: 0 0 0 30px transparent;
    background: rgba(255, 255, 255, 0.1);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: box-shadow 0.6s ease-in-out;
    -moz-transition: box-shadow 0.6s ease-in-out;
    -o-transition: box-shadow 0.6s ease-in-out;
    -ms-transition: box-shadow 0.6s ease-in-out;
    transition: box-shadow 0.6s ease-in-out;
  }

  /* Animate the box-shadow to create the effect */
  .no-touch .nav a:hover i,
  .no-touch .nav a:active i,
  .no-touch .nav a:focus i {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow 0.4s ease-in-out;
    -moz-transition: box-shadow 0.4s ease-in-out;
    -o-transition: box-shadow 0.4s ease-in-out;
    -ms-transition: box-shadow 0.4s ease-in-out;
    transition: box-shadow 0.4s ease-in-out;
  }
}
@media (min-width: 50em) and (max-width: 61.25em) {
  /* Size and font adjustments to make it fit into the screen*/
  .nav ul {
    font-size: 1.2em;
  }
}
/* The "tablet" and "mobile" version */
@media (max-width: 49.938em) {
  /* Instead of adding a border, we transition the background color */
  .no-touch .nav ul li:nth-child(6n+1) a:hover,
  .no-touch .nav ul li:nth-child(6n+1) a:active,
  .no-touch .nav ul li:nth-child(6n+1) a:focus {
    background: #6992a2;
  }

  .no-touch .nav li:nth-child(6n+2) a:hover,
  .no-touch .nav li:nth-child(6n+2) a:active,
  .no-touch .nav li:nth-child(6n+2) a:focus {
    background: #6992a2;
  }

  .no-touch .nav li:nth-child(6n+3) a:hover,
  .no-touch .nav li:nth-child(6n+3) a:active,
  .no-touch .nav li:nth-child(6n+3) a:focus {
    background: #6992a2;
  }

  .no-touch .nav li:nth-child(6n+4) a:hover,
  .no-touch .nav li:nth-child(6n+4) a:active,
  .no-touch .nav li:nth-child(6n+4) a:focus {
    background: #6992a2;
  }

  .no-touch .nav li:nth-child(6n+5) a:hover,
  .no-touch .nav li:nth-child(6n+5) a:active,
  .no-touch .nav li:nth-child(6n+5) a:focus {
    background: #6992a2;
  }

  .no-touch .nav li:nth-child(6n+6) a:hover,
  .no-touch .nav li:nth-child(6n+6) a:active,
  .no-touch .nav li:nth-child(6n+6) a:focus {
    background: #6992a2;
  }

  .nav ul li {
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    -ms-transition: background 0.5s;
    transition: background 0.5s;
  }
}
/* CSS specific to the 2x3 columns version */
@media (min-width: 32.5em) and (max-width: 49.938em) {
  /* Creating the 2 column layout using floating elements once again */
  .nav li {
    display: block;
    float: left;
    width: 50%;
  }

  /* Adding some padding to make the elements look nicer*/
  .nav a {
    padding: 0.8em;
  }

  /* Displaying the icons on the left, and the text on the right side using inlin-block*/
  .nav li span,
  .nav li span.icon {
    display: inline-block;
  }

  .nav li span.icon {
    width: 50%;
  }

  .nav li .icon + span {
    font-size: 1em;
  }

  .icon + span {
    position: relative;
    top: -0.2em;
  }

  /* Adaptating to the icons to animate the size and border of the rounded background in a more discreet way */
  .nav li i {
    display: inline-block;
    padding: 8% 9%;
    border: 4px solid transparent;
    border-radius: 50%;
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    -ms-transition: border 0.5s;
    transition: border 0.5s;
  }

  /* Transition effect on the border color */
  .no-touch .nav li:hover i,
  .no-touch .nav li:active i,
  .no-touch .nav li:focus i {
    border: 4px solid rgba(255, 255, 255, 0.1);
  }
}
/* Adapting the font size and width for smaller screns*/
@media (min-width: 32.5em) and (max-width: 38.688em) {
  .nav li span.icon {
    width: 50%;
  }

  .nav li .icon + span {
    font-size: 0.9em;
  }
}
/* Styling the toggle menu link and hiding it */
.nav .navtoogle {
  display: none;
  width: 100%;
  padding: 0.5em 0.5em 0.8em;
  font-family: 'Lato',Calibri,Arial,sans-serif;
  font-weight: normal;
  text-align: left;
  color: #07100f;
  font-size: 1.2em;
  background: none;
  border: none;
  border-bottom: 4px solid #dddddd;
  cursor: pointer;
}

.icon-menu {
  position: relative;
  top: 3px;
  line-height: 0;
  font-size: 1.6em;
}

@media (max-width: 32.438em) {
  /* Unhiding the styled menu link */
  .nav .navtoogle {
    margin: 0;
    display: block;
  }

  /* Animating the height of the navigation when the button is clicked */
  /* When JavaScript is disabled, we hide the menu */
  .no-js .nav ul {
    max-height: 30em;
    overflow: hidden;
  }

  /* When JavaScript is enabled, we hide the menu */
  .js .nav ul {
    max-height: 0em;
    overflow: hidden;
  }

  /* Displaying the menu when the user has clicked on the button*/
  .js .nav .active + ul {
    max-height: 30em;
    overflow: hidden;
    -webkit-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    transition: max-height 0.4s;
  }

  /* Adapting the layout of the menu for smaller screens : icon on the left and text on the right*/
  .nav li span {
    display: inline-block;
    height: 100%;
  }

  .nav a {
    padding: 0.5em;
  }

  .icon + span {
    margin-left: 1em;
    font-size: 0.8em;
  }

  /* Adding a left border of 8 px with a different color for each menu item*/
  .nav li:nth-child(6n+1) {
    border-left: 8px solid #ae4e01;
  }

  .nav li:nth-child(6n+2) {
    border-left: 8px solid #bf7514;
  }

  .nav li:nth-child(6n+3) {
    border-left: 8px solid #0d6f96;
  }

  .nav li:nth-child(6n+4) {
    border-left: 8px solid #0a4b75;
  }

  .nav li:nth-child(6n+5) {
    border-left: 8px solid #10222c;
  }

  .nav li:nth-child(6n+6) {
    border-left: 8px solid #091219;
  }

  /* make the nav bigger on touch screens */
  .touch .nav a {
    padding: 0.8em;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  background: white;
}

body {
  color: #999999;
  font-family: "Lato", Calibri, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.4;
}

.links a:link, .content a:link, section[role=main] > article a:link {
  color: ruby;
  text-decoration: underline;
}
.links a:visited, .content a:visited, section[role=main] > article a:visited {
  color: cafe;
}
.links a:hover, .content a:hover, section[role=main] > article a:hover {
  color: orange;
  text-decoration: none;
}
.links a.more, .content a.more, section[role=main] > article a.more {
  white-space: nowrap;
}
.links a.more:after, .content a.more:after, section[role=main] > article a.more:after {
  content: " »";
}

.typography strong, .content strong, section[role=main] > article strong, .typography b, .content b, section[role=main] > article b {
  color: #666666;
  font-weight: bold;
}
.typography em, .content em, section[role=main] > article em, .typography i, .content i, section[role=main] > article i {
  font-style: italic;
}
.typography abbr, .content abbr, section[role=main] > article abbr, .typography acronym, .content acronym, section[role=main] > article acronym {
  border-bottom: 1px dotted white;
}
.typography sub, .content sub, section[role=main] > article sub, .typography sup, .content sup, section[role=main] > article sup {
  font-size: 85%;
}
.typography sub, .content sub, section[role=main] > article sub {
  vertical-align: sub;
}
.typography sup, .content sup, section[role=main] > article sup {
  vertical-align: super;
}
.typography span.caps, .content span.caps, section[role=main] > article span.caps {
  font-size: 95%;
}
.typography h1, .content h1, section[role=main] > article h1, .typography h2, .content h2, section[role=main] > article h2, .typography h3, .content h3, section[role=main] > article h3, .typography h4, .content h4, section[role=main] > article h4, .typography h5, .content h5, section[role=main] > article h5, .typography h6, .content h6, section[role=main] > article h6 {
  color: #787878;
  margin: 1em 0;
}
.typography h1, .content h1, section[role=main] > article h1 {
  font-weight: bold;
  font-size: 200%;
  line-height: 1.099;
  margin: 0.75em 0;
}
.typography h2, .content h2, section[role=main] > article h2 {
  font-weight: bold;
  font-size: 170%;
  line-height: 1.099;
}
.typography h3, .content h3, section[role=main] > article h3 {
  font-weight: bold;
  font-size: 140%;
  line-height: 1.169;
  margin: 1.25em 0 0.5em;
}
.typography h4, .content h4, section[role=main] > article h4 {
  font-weight: bold;
  font-size: 110%;
  line-height: 1.26;
  margin: 0.5em 0 0.5em;
}
.typography h5, .content h5, section[role=main] > article h5 {
  font-style: italic;
  font-size: 110%;
  line-height: 1.4;
  margin: 0.65em 0;
}
.typography h6, .content h6, section[role=main] > article h6 {
  font-weight: bold;
  margin-bottom: -0.75em;
}
.typography p, .content p, section[role=main] > article p {
  margin: 1em 0;
}
.typography ul, .content ul, section[role=main] > article ul, .typography ol, .content ol, section[role=main] > article ol, .typography dl, .content dl, section[role=main] > article dl {
  margin-top: 1em;
  margin-bottom: 1em;
}
.typography ul, .content ul, section[role=main] > article ul, .typography ol, .content ol, section[role=main] > article ol, .typography dd, .content dd, section[role=main] > article dd {
  padding-left: 2.25em;
}
.typography ul, .content ul, section[role=main] > article ul {
  list-style: disc;
}
.typography ol, .content ol, section[role=main] > article ol {
  list-style: decimal;
}
.typography li, .content li, section[role=main] > article li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.typography dt, .content dt, section[role=main] > article dt {
  margin-top: 1em;
}
.typography dd, .content dd, section[role=main] > article dd {
  margin-bottom: 1em;
}
.typography code, .content code, section[role=main] > article code, .typography dfn, .content dfn, section[role=main] > article dfn, .typography kbd, .content kbd, section[role=main] > article kbd, .typography samp, .content samp, section[role=main] > article samp, .typography tt, .content tt, section[role=main] > article tt {
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 95%;
  color: #cccccc;
}
.typography pre, .content pre, section[role=main] > article pre {
  background: #cccccc;
  color: #666666;
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 95%;
  line-height: 1.4;
  margin: 1.5em 0;
  padding: 1em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.content .box, section[role=main] > article .box {
  background: #efeacf;
  border: 1px solid #e2d9a9;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin: 1.5em -1em;
  padding: 1px 1em;
}

header[role=banner] {
  background: #973b12;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.15))), -webkit-gradient(radial, 30% 50px, 0, 30% 50px, 400, color-stop(0%, #973b12), color-stop(100%, #65280c));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.15) 100%), -webkit-radial-gradient(30% 50px, #973b12, #65280c 400px);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.15) 100%), -moz-radial-gradient(30% 50px, #973b12, #65280c 400px);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.15) 100%), -o-radial-gradient(30% 50px, #973b12, #65280c 400px);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(30% 50px, #973b12, #65280c 400px);
  padding: 20px 15%;
  position: relative;
}
header[role=banner] a:link {
  color: #ead7cf;
  text-decoration: none;
}
header[role=banner] a:visited {
  color: #ead7cf;
}
header[role=banner] a:hover {
  color: white;
  text-decoration: underline;
}
header[role=banner] .action-link {
  position: absolute;
  right: 15%;
  top: 55px;
}
header[role=banner] .action-link a {
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  display: block;
  padding: 0.5em 1em;
  text-shadow: #4b1d09 0 1px 0;
}
header[role=banner] .action-link a:after {
  content: " ⇢";
}

section[role=main] {
  padding: 1px 15%;
}

body > footer {
  padding: 0 15% 20px;
  font-size: 90%;
  color: #b3b3b3;
}
body > footer a:link {
  color: #999999;
  text-decoration: underline;
}
body > footer a:visited {
  color: #999999;
}
body > footer a:hover {
  color: #999999;
  text-decoration: none;
}
body > footer p {
  margin: 1em 0;
}
